// # MAIN_COLORS

$WHITE: white;
$BLACK: black;
$GREEN: #4dd599;
$GRAY: #7c7c7c;
$BTN_GRAY: #9c9c9c;
$DARK_GREY: #767676;
$LIGHT_GRAY: #b4b4b4;
$ASIDE_BG: #f4f6f8;
$BORDER: #f1f1f1;

// # FOLDER_COLORS

$N0: #c9d1d3;
$N1: #42b883;
$N2: #64c4ed;
$N3: #ffbbcc;
$N4: #b6e6bd;
$N5: #c355f5;
$N6: #09011a;
$N7: #ff6464;
